@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;
  color:white;
  background-color: #111827;
}